<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Criar nova oferta</title>
</head>

<body>
<h1>Crie uma nova oferta!</h1>

<form th:action="@{/secretario/criar_oferta}" th:object="${ofertaFormDTO}" method="post">

    <div>
        <label>Nome da oferta:</label>
        <input type="text" th:field="*{nome}">
    </div>

    <div>
        <label>Semestre:</label>
        <input type="text" th:field="*{semestre}" placeholder="Ex: 2026/1">
        <div th:if="${#fields.hasErrors('semestre')}" th:errors="*{semestre}" style="color: red;"></div>
    </div>

    <div>
        <label>Data de início:</label>
        <input type="date" th:field="*{inicio}">
        <div th:if="${#fields.hasErrors('inicio')}" th:errors="*{inicio}" style="color: red;"></div>
    </div>

    <div>
        <label>Data de fim:</label>
        <input type="date" th:field="*{fim}">
        <div th:if="${#fields.hasErrors('fim')}" th:errors="*{fim}" style="color: red;"></div>

        <div th:if="${#fields.hasGlobalErrors()}" th:each="err : ${#fields.globalErrors()}" th:text="${err}" style="color: red;"></div>
    </div>

    <div>
        <label>Professor responsável:</label>
        <select th:field="*{professorResponsavelId}">
            <option value="">Selecione um professor...</option>
            <option th:each="prof : ${professores}"
                    th:value="${prof.id}"
                    th:text="${prof.username}"></option>
        </select>
        <div th:if="${#fields.hasErrors('professorResponsavelId')}" th:errors="*{professorResponsavelId}" style="color: red;"></div>
    </div>

    <button type="submit">Processar</button>

</form>
</body>
</html>