<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Página do Secretário</title>
</head>
<body>

<h1>PAGINA DO SECRETARIO</h1>
<h3>As atuais ofertas são:</h3>
<ul>
    <li th:each="oferta : ${ofertas}">
        <b th:text="${oferta.nome}"></b>
        -
        Professor : <span th:text="${oferta.prof.nome}"></span>
        -
        Semestre : <span th:text="${oferta.semestre}"></span>
        -
        Inicio do semestre : <span th:text="${oferta.inicio}"></span>
        -
        Fim do semestre : <span th:text="${oferta.fim}"></span>
        -
        Alunos Matriculados : <span th:text="${oferta.matriculados}"></span>

        -
        Status:
        <span th:text="${oferta.status}"></span>

        <span th:if="${oferta.status == 'Concluida'}">
            -
            Data de Encerramento:
            <span th:text="${#temporals.format(oferta.encerramento, 'dd/MM/yyyy, HH:mm:ss')}"></span>

            -
            Encerrado por:
            <span th:text="${oferta.encerradoPor}"></span>

        </span>

        <form th:if="${oferta.status == 'Aguardando encerramento do secretario'}"
                th:action="@{/secretario/encerrar/{id}(id=${oferta.id})}"
              method="post"
              style="display:inline">
            <button
                    type="submit"
                    th:data-msg="${mensagem}"
                    onclick="return confirm(this.dataset.msg);">
                Encerrar
            </button>

        </form>
<!-- ---------------------------------------------------------------------------------->
        <span th:if="${oferta.status != 'Aguardando encerramento do secretario' && oferta.status != 'Concluida' }">

            <a th:href="@{/secretario/oferta/{id}/alunos(id=${oferta.id})}">
                <button type="button">
                    Adicionar Aluno(s)
                </button>
            </a>

        </span>




    </li>
</ul>

<a th:href="@{/secretario/criar_oferta}">
    <button type="button">
        Criar nova oferta
    </button>
</a>
</body>
</html>